.Rproj.user
.Rhistory
.RData
.Ruserdata
data/from_CEO
CEO ideas
data/from_IDESCAT
data/all_surveys_01.rds
data/all_surveys_recoded_01.rds
interim_outputs/resample_survey_designs_863_bcn
interim_outputs/resamples_863_bcn
interim_outputs/calibration/main_survey_weights_04.csv
interim_outputs/calibration/raked_sampling_designs_resamples_03.rds
interim_outputs/calibration/raked_calibration_weights_resamples_03.rds
interim_outputs/calibration/weights_resamples_trimmed_1_04.rds
interim_outputs/calibration/weights_resamples_trimmed_2_04.rds
interim_outputs/calibration/weights_resamples_untrimmed_04.rds
interim_outputs/jackknife/jackknife_survey_designs_04.rds
interim_outputs/jackknife/jackknife_raked_resamples_04.rds
scripts/07_referendum_vote_article.html
